
body{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.MenuHeadImage{
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.icon a{
  font-size: 300%;
  text-decoration: none;
}
input[type=text], select, textarea {
  width: 60%; /* Full width */
  padding: 6px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 6px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */

}
#footer{

}
.button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    border: solid 1px black;
    text-align: center;
}
@media only screen and (min-width: 768px) {


}
@media only screen and (min-width: 992px) {



}
@media only screen and (min-width: 1200px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
/* Menu text navigatie*/
    .left{
      text-align: left;
    }
    .right{
      text-align: right;
    }
    .base{
      text-align: center;
    }
}
